/* Header */
.header {
    padding: 20px;
    text-align: center;
    background: #04293A;
    margin-bottom: 20px;
    border-radius: 25px;
  }

.header h1 {
    font-size: 50px;
    font-family: Pro-Black;
}

.header h2 {
  font-size: 22px;
  font-family: Pro-Extra-Bold;
}