* {
  box-sizing: border-box;
}

body {
  background-color: #041C32;
  font-family: FF Uberhand;

  /* font-family: 'Catamaran', sans-serif; */
  padding: 10px;
  color: #ECB365;
  
  min-height: 98.8vh;
  display: flex;
  flex-direction: column;
}

.links {
  background-color: #04293A;
  border-radius: 25px;
  color: #ECB365;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.links:hover {
  background-color: #064663;
  border-radius: 25px;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  width: 33.3334%;
  min-width: 125px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}