/* Style the top navigation bar */
.topnav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  overflow: hidden;
  background-color: #04293A;
  border-radius: 25px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  color: #ECB365;
  text-align: center;
  text-decoration: none;
  padding: 16px;
}

.topnav a:hover {
background-color: #064663;
border-radius: 25px;
}

.center {
  width: 33.3334%;
  min-width: 125px;
  font-family: Pro-Extra-Bold;
}
