@font-face {
    font-family: 'FF Uberhand';
    src: local('FF Uberhand Pro Light'), local('FF-Uberhand-Pro-Light'),
        url('UberhandPro-Light.woff2') format('woff2'),
        url('UberhandPro-Light.woff') format('woff'),
        url('UberhandPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }